openapi: 3.0.1
info:
  title: Urlbox Render Status API
  description: Urlbox is a website screenshot and rendering API for capturing screenshots, PDFs, and video (MP4/WebM) of any URL or raw HTML. Renders can be requested synchronously (POST /render/sync), asynchronously with polling or webhooks (POST /render/async + GET /render/{renderId}), or via signed, cacheable HMAC render links (GET /{api_key}/{token}/{format}).
  termsOfService: https://urlbox.com/terms
  contact:
    name: Urlbox Support
    url: https://urlbox.com/contact
    email: support@urlbox.com
  version: '1.0'
servers:
- url: https://api.urlbox.com/v1
  description: Urlbox v1 API
security:
- BearerAuth: []
tags:
- name: Status
  description: Poll the status of asynchronous renders.
paths:
  /render/{renderId}:
    get:
      operationId: getRenderStatus
      tags:
      - Status
      summary: Check render status
      description: Polls the status of an asynchronous render. Returns the current status and, once succeeded, the renderUrl and size.
      parameters:
      - name: renderId
        in: path
        required: true
        description: The renderId returned by POST /render/async.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Current render status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderStatus'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
components:
  responses:
    Error:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    RenderStatus:
      type: object
      properties:
        renderId:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - created
          - retrying
          - succeeded
          - failed
          - not-found
        renderUrl:
          type: string
          format: uri
          description: Present once the render has succeeded.
        size:
          type: integer
          description: Size of the render in bytes once succeeded.
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: string
        requestId:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Project secret key supplied as a Bearer token in the Authorization header.
